<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a=[]

In [2]:
# print the value of a
a

[]

In [3]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [41]:
lang = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [42]:
len(lang)

5

Using for loop iterate and print all the elements in the list

In [43]:

for i in lang:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [44]:
temp=lang[1]

Print the value of temp and type(temp)

In [45]:
print(temp)

print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [46]:
lang.append('Java')
lang

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [47]:
lang.remove(42)
lang

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [63]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [64]:
colors.append('Black')
colors

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [65]:

colors.insert(1,'Orange')

Print the list

In [66]:
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [67]:
colors2=['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [68]:
colors.extend(colors2)
colors

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [69]:
len(colors)

7

Sort the list and print it.

In [72]:
colors.sort()
colors

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [1]:
st="Coronavirus Caused Lockdowns Around The World"
st

'Coronavirus Caused Lockdowns Around The World'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [2]:
l=st.split(' ')
l

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [3]:
words_lower=[x.lower() for x in l]
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‘country’ is in the list

In [4]:
if 'country' in words_lower:
    print('Yes')
else:
    print("Absent")

Absent

Remove the element ‘the’ from the list and print the list.

In [5]:
words_lower.remove('the')
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'world']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [6]:
print(words_lower[0:4])

['coronavirus', 'caused', 'lockdowns', 'around']

In [7]:
# print x4

for i in range(4):
    print(st)

Coronavirus Caused Lockdowns Around The World
Coronavirus Caused Lockdowns Around The World
Coronavirus Caused Lockdowns Around The World
Coronavirus Caused Lockdowns Around The World

Convert the list of elements to single string using join function and print it

In [111]:

s=' '.join(words_lower)
s

'coronavirus caused lockdowns around world'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [112]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [113]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [114]:
stud_grades_set= set(stud_grades)

In [ ]:
#### Print stud_grades_set.

In [116]:
stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [118]:
print(stud_grades)
print("The type of of stud_grades is ",type(stud_grades))
print(stud_grades_set)
print("The type of of stud_grades_set is ",type(stud_grades_set))

['A', 'A', 'B', 'C', 'C', 'F']
The type of of stud_grades is  <class 'list'>
{'A', 'C', 'F', 'B'}
The type of of stud_grades_set is  <class 'set'>

Add a new element ‘G’ to stud_grades_set

In [120]:
stud_grades_set.add('G')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [121]:
stud_grades_set.add('F')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [122]:

stud_grades_set.remove('F')
stud_grades_set

{'A', 'B', 'C', 'G'}

Print the elements and the length of stud_grades_set

In [129]:
stud_grades_set

print(len(stud_grades_set))

4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [130]:
colors=['red','blue','orange']
fruits=['orange','grapes','apples']

Print color and fruits

In [134]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [135]:
colors_set=set(colors)
print(colors_set)

fruits_set=set(fruits)
print(fruits_set)

{'orange', 'red', 'blue'}
{'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [137]:
print(colors_set.union(fruits_set))

{'grapes', 'apples', 'red', 'blue', 'orange'}

Find the intersection of both the sets

In [138]:
print(colors_set.intersection(fruits_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [143]:
print(fruits_set.difference(colors_set))

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [163]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [164]:
temp

[17, 'Virat', 50.0]

replace first element with 11 in temp

In [165]:
temp[0]=11
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [166]:
temp1=tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [167]:
temp1

(11, 'Virat', 50.0)

replace first element with 17 in temp1

In [168]:
temp1[0]=17
temp1

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [169]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [171]:
city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [173]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [175]:
cities=city+city2

Print cities

In [176]:
cities

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [177]:
type(cities[0])

str

print the type of cities

In [178]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [2]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [3]:
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [14]:
actor=d['actor']
actor

'amir'

Print the type of actor

In [5]:
type(actor)

str

Store the value of d[‘list’] in new variable List.

In [15]:
List=d['list']
List

[23, 32, 12]

Print the type of List.

In [9]:
type(List)

list

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [13]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [23]:
d.update(d1)

print d

In [24]:
d

{'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

Print all the keys in d

In [25]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [26]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [33]:
d
j=0
for i in d:
    print(i,"---->",d.get(i))
    j=j+1

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

## ?????

In [39]:
alphabet = 'sent'
k=len(alphabet)
l=[item for item in range (k)]

In [42]:
alphabetDict = dict()
i=0
for char in alphabet:
    alphabetDict[char] = l[i]
    i=i+1
alphabetDict

{'s': 0, 'e': 1, 'n': 2, 't': 3}